* {
  font-family: Lato;
  margin: 0;
  padding: 0;
  --transition: 0.15s;
  --border-radius: 1rem;
  --background: #ffffff;
  --box-shadow: var(--background);
  --primary-color: rgb(6, 42, 128);
  --secondary-color: rgb(36, 167, 255);
  --ground-color: rgb(242, 246, 255)
}



.cont-bg {
  min-height: 100vh;
  /*background-image: radial-gradient(
    circle farthest-corner at 7.2% 13.6%,
    rgba(37, 249, 245, 1) 0%,
    rgba(8, 70, 218, 1) 90%
  );*/
  background-image: radial-gradient(
    circle farthest-corner at 7.2% 13.6%,
    var(--secondary-color) 10%,
    var(--primary-color) 70%
  );

  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cont-title {
  color: white;
  font-size: 4vw;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}


.cont-main {
  align-content: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.5vw;
}

.cont-checkbox {
  width: 27vw;
  height: 35vh;
  border-radius: var(--border-radius);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  background: var(--ground-color);
  transition: transform var(--transition);
}


.cont-checkbox:active {
  transform: scale(0.9);
}

input {
  display: none;
}

input:checked + label {
  opacity: 1;
  box-shadow: 0 0 0 3px var(--background);
}

input:checked + label img {
  -webkit-filter: none; /* Safari 6.0 - 9.0 */
  filter: none;
}

input:checked + label .cover-checkbox {
  opacity: 1;
  transform: scale(1);
}

input:checked + label .cover-checkbox svg {
  stroke-dashoffset: 0;
}

label {
  display: inline-block;
  cursor: pointer;
  border-radius: var(--border-radius);
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0.6;
}

label img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: var(--border-radius);
  clip-path: inset(0 0 0% 0);
  /*clip-path: polygon(0% 0%, 100% 0, 100% 81%, 50% 100%, 0 81%);*/
  -webkit-filter: grayscale(100%); /* Für Safari 6.0 - 9.0 */
  filter: grayscale(3%);
}

label .cover-checkbox {
  position: absolute;
  right: 5px;
  top: 3px;
  z-index: 1;
  width: 1.4vw;
  height: 1.4vw;
  border-radius: 50%;
  background: var(--box-shadow);
  border: 2px solid var(--primary-color);
  transition: transform var(--transition),
    opacity calc(var(--transition) * 1.2) linear;
  opacity: 0;
  transform: scale(0);
}

label .cover-checkbox svg {
  width: 1vw;
  height: 0.8vw;
  display: inline-block;
  vertical-align: top;
  fill: none;
  margin: 5px 0 0 3px;
  stroke: var(--primary-color);
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  transition: stroke-dashoffset 0.4s ease var(--transition);
  stroke-dashoffset: 16px;
}

label .info {
  text-align: center;
  margin-top: 0.2rem;
  font-weight: 400;
  font-size: 2vw;
}

.submit-btn{
  border: 3px solid  var(--secondary-color);
  border-radius: var(--border-radius);
  position: fixed;
  right: 3vw;
  bottom: 3vw;
  width: 8vw;
  aspect-ratio: 2;
  color: var(--ground-color);
  background-color: var(--primary-color);
  font-size: 2.2vw;
}

.submit-btn:hover {
  background-color: var(--secondary-color);
}
